/* You can add global styles to this file, and also import other style files */
@import './app/Css/blog.css';
@import './app/Css/contacto.css';
@import './app/Css/crearorden.css';
@import './app/Css/inicio.css';
@import './app/Css/menu.css';
@import './app/Css/quienesomos.css';
@import './app/Css/reserva.css';
@import './app/Css/tienda.css';